<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.liu.db.mapper.SysDeptMapper">
    <resultMap id="SysDeptMapperResult" type="com.liu.db.entity.SysDept">
        <result property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="orderNum" column="order_num"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDelete" column="is_delete"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysDeptVo">
        select *
        from sys_dept
    </sql>
    <insert id="insert" parameterType="com.liu.db.entity.SysDept">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="ancestors != null and ancestors.length() > 0">
                ancestors,
            </if>
            <if test="deptName != null and deptName.length() > 0">
                dept_name,
            </if>
            <if test="leader != null and leader.length() > 0">
                leader,
            </if>
            <if test="phone != null and phone.length() > 0">
                phone,
            </if>
            <if test="email != null and email.length() > 0">
                email,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="status != null and status.length() > 0">
                status,
            </if>
            <if test="createBy != null and createBy.length() > 0">
                create_by,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="remark != null and remark.length() > 0">
                remark,
            </if>
            create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="ancestors != null and ancestors.length() > 0">
                #{ancestors},
            </if>
            <if test="deptName != null and deptName.length() > 0">
                #{deptName},
            </if>
            <if test="leader != null and leader.length() > 0">
                #{leader},
            </if>
            <if test="phone != null and phone.length() > 0">
                #{phone},
            </if>
            <if test="email != null and email.length() > 0">
                #{email},
            </if>
            <if test="orderNum != null">
                #{orderNum},
            </if>
            <if test="status != null and status.length() > 0">
                #{status},
            </if>
            <if test="createBy != null and createBy.length() > 0">
                #{createBy},
            </if>
            <if test="isDelete != null">
                #{isDelete},
            </if>
            <if test="remark != null and remark.length() > 0">
                #{remark},
            </if>
            sysdate()
        </trim>
    </insert>
    <update id="update" parameterType="com.liu.db.entity.SysDept">
        update sys_dept
        <trim prefix="set" suffixOverrides=",">
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="ancestors != null and ancestors.length() > 0">
                ancestors = #{ancestors},
            </if>
            <if test="deptName != null and deptName.length() > 0">
                dept_name = #{deptName},
            </if>
            <if test="leader != null and leader.length() > 0">
                leader = #{leader},
            </if>
            <if test="phone != null and phone.length() > 0">
                phone = #{phone},
            </if>
            <if test="email != null and email.length() > 0">
                email = #{email},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="status != null and status.length() > 0">
                status = #{status},
            </if>
            <if test="updateBy != null and updateBy.length() > 0">
                update_by = #{updateBy},
            </if>
            <if test="remark != null and remark.length() > 0">
                remark = #{remark},
            </if>
            update_time = sysdate(),
        </trim>
        where dept_id = #{deptId}
    </update>

    <delete id="deleteById" parameterType="String">
        update sys_dept
        set is_delete = 1
        where dept_id = #{deptIds};
    </delete>

    <select id="selectSysDeptList" parameterType="com.liu.db.entity.SysDept"
            resultMap="SysDeptMapperResult">
        <include refid="selectSysDeptVo"/>
        <where>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="deptName != null and deptName.length() > 0">
                <bind name="deptName" value="deptName + '%'"/>
                and dept_name like #{deptName}
            </if>
        </where>
    </select>
    <select id="selectSysDeptByDeptId" resultType="com.liu.db.entity.SysDept">
        <include refid="selectSysDeptVo"/>
        <where>
            dept_id = #{deptId}
            and is_delete = 0
        </where>
    </select>
    <select id="selectSysDeptByDeptName" resultType="java.lang.Long">
        select `dept_id`
        from `sys_dept`
        where `dept_name` = #{deptName}
    </select>
</mapper>