<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.liu.db.mapper.SysLoginLogMapper">
    <resultMap id="SysLoginLogMapperResult" type="com.liu.db.entity.SysLoginLog">
            <result property="loginId" column="login_id"/>
            <result property="userName" column="user_name"/>
            <result property="ip" column="ip"/>
            <result property="loginLocation" column="login_location"/>
            <result property="browser" column="browser"/>
            <result property="os" column="os"/>
            <result property="status" column="status"/>
            <result property="message" column="message"/>
            <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectSysLoginLogVo">
        select *
        from sys_login_log
    </sql>
    <insert id="insert" parameterType="com.liu.db.entity.SysLoginLog">
        insert into sys_login_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="loginId != null">
                        login_id,
                    </if>
                    <if test="userName != null and userName.length() > 0">
                        user_name,
                    </if>
                    <if test="ip != null and ip.length() > 0">
                        ip,
                    </if>
                    <if test="loginLocation != null and loginLocation.length() > 0">
                        login_location,
                    </if>
                    <if test="browser != null and browser.length() > 0">
                        browser,
                    </if>
                    <if test="os != null and os.length() > 0">
                        os,
                    </if>
                    <if test="status != null and status.length() > 0">
                        status,
                    </if>
                    <if test="message != null and message.length() > 0">
                        message,
                    </if>
                create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="loginId != null">
                        #{loginId},
                    </if>
                    <if test="userName != null and userName.length() > 0">
                        #{userName},
                    </if>
                    <if test="ip != null and ip.length() > 0">
                        #{ip},
                    </if>
                    <if test="loginLocation != null and loginLocation.length() > 0">
                        #{loginLocation},
                    </if>
                    <if test="browser != null and browser.length() > 0">
                        #{browser},
                    </if>
                    <if test="os != null and os.length() > 0">
                        #{os},
                    </if>
                    <if test="status != null and status.length() > 0">
                        #{status},
                    </if>
                    <if test="message != null and message.length() > 0">
                        #{message},
                    </if>
                sysdate()
        </trim>
    </insert>
    <update id="update" parameterType="com.liu.db.entity.SysLoginLog">
        update sys_login_log
        <trim prefix="set" suffixOverrides=",">
                    <if test="userName != null and userName.length() > 0">
                        user_name = #{userName},
                    </if>
                    <if test="ip != null and ip.length() > 0">
                        ip = #{ip},
                    </if>
                    <if test="loginLocation != null and loginLocation.length() > 0">
                        login_location = #{loginLocation},
                    </if>
                    <if test="browser != null and browser.length() > 0">
                        browser = #{browser},
                    </if>
                    <if test="os != null and os.length() > 0">
                        os = #{os},
                    </if>
                    <if test="status != null and status.length() > 0">
                        status = #{status},
                    </if>
                    <if test="message != null and message.length() > 0">
                        message = #{message},
                    </if>
        </trim>
        where login_id = #{loginId}
    </update>

    <delete id="deleteById" parameterType="String">
            update sys_login_log set is_delete = 1
            where login_id = #{loginIds};
    </delete>

    <select id="selectSysLoginLogList" parameterType="com.liu.db.entity.SysLoginLog"
            resultMap="SysLoginLogMapperResult">
        <include refid="selectSysLoginLogVo"/>
        <where>
        </where>
    </select>
    <select id="selectSysLoginLogByLoginId" resultType="com.liu.db.entity.SysLoginLog">
        <include refid="selectSysLoginLogVo"/>
        <where>
            login_id = #{loginId}
                and is_delete = 0
        </where>
    </select>
</mapper>