<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.liu.db.mapper.relation.PostAndCategoryMapper">
    <resultMap id="PostMapperResult" type="Post">
        <result property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="views" column="views"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="sort" column="sort"/>
        <result property="state" column="state"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    <resultMap id="CategoryMapperResult" type="com.liu.db.entity.Category">
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <insert id="insert">
        insert into `post_category`(post_id, category_id)
        values (#{postId}, #{categoryId})
    </insert>
    <select id="selectCategoryByPostId" resultType="com.liu.db.entity.Category">
        select c.*
        from `post_category` as pc
                 left join `category` as c on pc.category_id = c.category_id
        where post_id = #{postId}
    </select>
    <select id="selectPostByCategoryId" resultType="com.liu.db.entity.Post">
        select p.*
        from `post_category` as pc
                 left join `post` as p on pc.post_id = p.post_id
        where category_id = #{categoryId}
          and p.is_delete = 0
    </select>

</mapper>