package ${packageName}.service;

import ${packageName}.dao.${ClassName};

import java.util.List;

/**
 * ${tableDesc}服务层 ${tableName}
 *
 * @author ${author}
 * @since ${dateTime}
 */
public interface ${ClassName}Service {
    /**
     * 查询 ${tableDesc} 列表
     *
     * @param $ClassName.toLowerCase() ${tableDesc}
     * @return 返回 分页结果
     */
    List<${ClassName}> select${ClassName}List(${ClassName} $ClassName.toLowerCase());


    /**
     * 获取 ${tableDesc} 详细信息
     *
     * @param ${pkColumn.javaField} ${pkColumn.columnComment}
     * @return 返回${tableDesc}信息
     */
        ${ClassName} select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 新增 ${tableDesc}
     *
     * @param $ClassName.toLowerCase() ${tableDesc}
     * @return 添加情况
     */
    int insert(${ClassName} $ClassName.toLowerCase());

    /**
     * 修改 ${tableDesc}
     *
     * @param $ClassName.toLowerCase() ${tableDesc}
     * @return 修改情况
     */
    int update(${ClassName} $ClassName.toLowerCase());

    /**
     * 删除 ${tableDesc}
     *
     * @param ${pkColumn.javaField}s ${pkColumn.columnComment} 列表
     * @return 删除情况
     */
    int delete(${pkColumn.javaType}[] ${pkColumn.javaField}s);
}
