create table `${relationName}`
(
    `id`     bigint(20) auto_increment comment 'ID',
    `${pkColumn.columnName}` bigint(20) comment '$pkColumn.javaField',
    `${subPkName}` bigint(20) comment '${subPkName}',
    primary key (id)
) engine = innodb comment '${relationDesc}';